<div class="row h-100 row-grid">
    <div class="col-sm-12 col-md-4 pr-1 taskBlock" id="Ready">
        <div class="container containerForTasks">
            <div class="row justify-content-center todoblock">
                <h2>Ready<h2>
            </div>
            <div class="row todoblock" id="readyRow">
                <div class="col" id="readyCol">
                </div>
            </div>
            <div class="row justify-content-center todoblock">
                <button class="btn addReady" type="button">+ Add card</button>
            </div>  
        </div>   
    </div>
    <div class="col-sm-12 col-md-4 pl-1  taskBlock" id="InProgress">
        <div class="container containerForTasks">
            <div class="row justify-content-center">
                <h2>In progress<h2>
            </div>
            <div class="row" id="inProgressRow">
                <div class="col" id="inProgressCol">
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="btn-group ">
                    <button type="button" class="btn btn-secondary dropdown-toggle addProgressDT" data-toggle="dropdown" data-display="static" aria-haspopup="true" aria-expanded="false">
                        + Add card
                    </button>
                    <div class="dropdown-menu dropdown-menu-right dropdown-menu-lg-left addProgress">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-4  taskBlock" id="Finished">
        <div class="container containerForTasks">
            <div class="row justify-content-center">
                <h2>Finished<h2>
            </div>
            <div class="row" id="finishedRow">
                <div class="col" id="finishedCol">
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="btn-group">
                    <button type="button" class="btn btn-secondary dropdown-toggle addFinishedDT" data-toggle="dropdown" data-display="static" aria-haspopup="true" aria-expanded="false">
                        + Add card
                    </button>
                    <div class="dropdown-menu dropdown-menu-right dropdown-menu-lg-left addFinished">
                    </div>
                </div>
            </div>  
        </div>
    </div>       
</div>  
<div class="footer">
    <div class="row" id = "footerRow">
            <div class="col-3 my-auto btmTxt">
                <p class="align-middle" id="activeTasks">Active tasks:</p>
            </div>
            <div class="col-3 my-auto btmTxt">
                <p class="align-middle" id="finishedTasks">Finished tasks:</p>
            </div>
            <div class="col-6 my-auto btmTxt" id="bottomText">
                <p class="align-middle initials">Kanban board by Konstantin Markov</p>
            </div>        
    </div>
</div>