<div class="container-fluid" id="taskFluid">
<div class="row">
    <div id="sortable-copy-1" data-mdb-sortable="sortable" class="sortable-list" data-mdb-connected-list="#sortable-copy-2" data-mdb-copy="true" data-mdb-sorting="false">
        <h4 class="text-center pt-2">Elements</h4>
        <div class="sortable-item">Item 1</div>
        <div class="sortable-item">Item 2</div>
        <div class="sortable-item">Item 3</div>
        <div class="sortable-item">Item 4</div>
        <div class="sortable-item">Item 5</div>
      </div>
      
      <div id="sortable-copy-2" data-mdb-sortable="sortable" class="sortable-list" data-mdb-connected-list="#sortable-copy-1">
        <h4 class="text-center pt-2">Copy</h4>
        <div class="sortable-item">Item 6</div>
        <div class="sortable-item">Item 7</div>
        <div class="sortable-item">Item 8</div>
        <div class="sortable-item">Item 9</div>
        <div class="sortable-item">Item 10</div>
      </div>
</div>

    <div class="row">
        <div class="row"><h1>TEST!!!</h1></div>
        <div class="container" id="taskBar">
            <div class="row">
                <div class="col-4 taskBlock" id="Ready">
                    <div class="row">
                        <h2>Ready<h2>
                    </div>
                    <div class="row" id="readyRow">
                        <div id="readyCol" data-mdb-sortable="sortable" class="sortable-list" data-mdb-connected-list="#inProgressCol" data-mdb-copy="true" data-mdb-sorting="false">
                        </div>
                    </div>
                    <div class="row">
                        <button class="btn addReady" type="button">+Add card</button>
                    </div>     
                </div>
                <div class="col-4 taskBlock" id="InProgress">
                    <div class="row">
                        <h2>In progress<h2>
                    </div>
                    <div class="row" id="inProgressRow">
                        <div id="inProgressCol" data-mdb-sortable="sortable" class="sortable-list" data-mdb-connected-list="#finishedCol" data-mdb-copy="true" data-mdb-sorting="false">
                        </div>
                    </div>
                    <div class="row">

                        <button class="btn addReady" type="button">+Add card</button>
                    </div>  
                </div>
                <div class="col-4 taskBlock" id="Finished">
                    <div class="row">
                        <h2>Finished<h2>
                    </div>
                    <div class="row" id="finishedRow">
                        <div id="finishedCol" data-mdb-sortable="sortable" class="sortable-list" data-mdb-connected-list="#finishedCol" data-mdb-copy="true" data-mdb-sorting="false">
                        </div>
                    </div>
                    <div class="row">
                        <button class="btn addReady" type="button">+Add card</button>
                    </div>  
                </div>        
            </div>  
        </div>  
    <div>
</div>